__pycache__/
*.pyc
.pytest_cache/

downloaded/
llm_ready/
*_assets/

.gitnexus/
gitnexus/
.llm_ingest_manifest.json
report.json
manual_downloads.txt

_python313/
_vendor_site/
_vendor_manual/
_wheelhouse/
_pip_tmp/

_knowledge_graph/
_kg*/

_audit_corpus_cache/
_audit_reports/
_audit_backend_matrix/
_audit_plan_temp/
_tmp_continue/
_tmp_quality/
_tmp_quality_multi/
_tmp_security_smoke/
_tmp_quality_artifacts/
_tmp_structural_quality/
_kg_artifact_smoke/
